<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset password email</title>
  </head>
  <body>
    <h1 style="color: blue">Dear {{email}}!</h1>
    <p style="font-size: 16px" style="color: black">
      We received a password reset request for your account. If you made this request, use the link
      to change your password.
    </p>
    <p style="font-size: 14px">Click <a href="{{link}}">here</a> to reset your password!</p>
    <p style="font-size: 16px; color: black">
      If you did not request a password reset, please ignore this email.
    </p>
    <span style="font-size: 14px"> Best regards, H2O dev team </span>
  </body>
</html>
